---
layout: default
title: Blog
permalink: /blog/tagged/kyu/
---
<div class="posts">

  {% for post in site.posts %}
  	{% if post.tags contains "kyu" %}  
	    <div class="post">    

	      <!-- thumbnail -->
	      <a href="{{ post.url }}">
	        <img class="post-thumb" src="/images/{{ post.thumb }}" />
	      </a>

	      <!-- title -->
	      <h1>{{ post.title }}</h1>
	      
	      <!-- blurb -->
	      <div>{{ post.blurb }}</div>
	    
	      <div class="overlay"></div>
	    </div>  
  	{% endif %}
  {% endfor %}
</div>