---
---

@import "_default";

* {
  max-width: 100%;
}

html {
  font-size: 15px;
}

nav { 
  display: table;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 82px 2rem 0;
  overflow-x: scroll;
  white-space: nowrap;

  .nav-logo {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .nav-link {
    display: table-cell;  
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
  }

  + * {
    margin-top: 118px;
  }
}

main {
  padding: 2rem;
}

header {
  padding: 1rem;

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-top: 0.5em;
    font-size: 1rem;
  }
}

article {
  padding: 1rem;
  font-size: 1rem;

  ul, ol {
    padding-left: 1rem;
  }

  code {
    background: white;
    padding: 1px 2px;
    vertical-align: 1px;
  }

  div.highlight {
    margin: 0;
    background:white;
  }
}

footer {
  padding: 2rem;

  dt {
    margin: 1rem 0 0.5rem;
  }
}

section {
  padding: 2rem;
}

.posts, .team, .wall {

  .post, .member, .brick { 
    transition: none!important;
    transform: none!important;
    position: static!important;
    width: 100%;

    .body {
      font-size: 1.4rem;
    }

    .links {
      text-align: center;

      a {
        margin: 0 2rem;
      }
    }

    .overlay {
      display:none;
    }
  }
}

.screenshots {
  width: 100%;

  button {
    height: 67.2%;
    margin-top: 3.8%;
    opacity: 0.5;
      
    &.prev,
    &:first-child {
      margin-left: 3.8%;
    }

    &.next,
    &:last-child {
      margin-right: 3.8%;
    }
  }

  .images {
    height: 67.2%;
    width: 92.4%;
    margin: 3.8%;

    > a {
      max-height: 100%;
      max-width: 100%;
    }
  }
}


#landing {

  #welcome {
    padding-top: 10vh;
  }

  #credibility {

    .reference {
      zoom: 1;
      overflow: auto;

      .avatar {
        height: 25vw;
        width: 25vw;
        margin-bottom: 1rem;
      }

      .quote {
        float: right;
        font-size: 1.2rem;
        max-width: calc(75vw - 6.5rem);
      }

      .name,
      .company {
        width: calc(25vw + 2rem);
      }
    }
  }

  #logos .cred-logo {
    height: 4rem;
    margin-right: 2rem;
  }

  #process li > div {
    display: inline;
  }

  .post, .member {
    background: $dark-bg!important;
  }
}