---
layout: default
title: Portfolio
permalink: /portfolio/
---
<div class="posts">
  {% for post in site.posts reversed %}
    {% if post.category == "portfolio" %}
    <div class="post">    

      <!-- thumbnail -->
      <a href="{{ post.url }}">
        <img class="post-thumb" src="/images/{{ post.thumb }}" />
      </a>

      <!-- title -->
      <h1>{{ post.title }}</h1>
      
      <!-- blurb -->
      <div>{{ post.blurb }}</div>
    
      <div class="overlay"></div>
    </div>  
    {% endif %}
  {% endfor %}
</div>