---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_layout";
@import "_animation";
// Syntax highlighting @import is at the bottom of this file

body {
  font-family: $font-stack;
  color: $text-white;
}

nav { 
  background: $bg-dark;
  font-weight: bold;  
  a {
    @include transition('color 0.3s, background 0.3s');
    text-decoration: none;
  color: $text-dark;
    display: block;
  }
  .nav-link {
    height: $unit*10;
    line-height: $unit*10;
    text-align: center;
    font-size: $text-xl;
  }
  .nav-link:hover {
    color: $text-dark-highlight;
    background: $bg-dark-highlight;
  }
  .nav-logo {
    @include padded-v($unit*1.5);
    @include padded-h($unit);
    color: $text-light;
    background: $bg-light;
    img {
      @include spaced-right($unit);
      vertical-align: middle;
      float: left;
    }
    div {
      div:first-child {
        font-size: 32px;
      }
      div:last-child {
        font-size: $text-lg;
      }
    }
  }
}

header {
  position: absolute; top: 0; right: 0; height: 75px; left: 260px;
  @include padded-h($unit*4);
  font-size: 40px;
  height: 75px;
  line-height: 75px;
  background: white;
  font-weight: bold;
}
main {
  position: absolute; top: 75px; right: 0; bottom: 0; left: 260px;
  padding: $unit*2 $unit*4;
  border-top: 2px solid #ddd;
  background: $bg-white;
  overflow-y: auto;
}

.posts, .team {
  // @include grid;
}

.post, .member { 
  width: $unit*35;
  padding: $unit*2;
  margin: 0 $unit*4 $unit*4 0;
  background: #fff;
  border-radius: $unit*2;
  // float: left;
  position: relative;
  a {
    color: inherit;
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  h1 {
    margin-top: $unit*2;
    font-size: $text-xl;
    font-weight: bold;
  }
  h2 {
    font-size: $text-lg;
    margin-top: $unit/2;
  }
  .body {
    margin-top: $unit;
    font-size: $text-md;
    color: $text-dark;
  }
  .links {
    margin-top: $unit;
    text-align: center;
    font-size: 20px;
    a {
      margin: 0 $unit*2;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $unit*2;
    background: $bg-dark-highlight;
    opacity: 0.2;
    display:none;
    pointer-events: none;
    cursor: pointer;
  }
}
.post:hover {
  .overlay {
    display: block;
  }
}

article {
  h1, h2 {
    font-size: $text-xl;
  }
  h3, h4 {
    font-size: $text-lg;
  }
  h1, h3 {
    font-weight: bold;
  }
  h1, h2, h3, h4 {
    margin: $unit*2 0 $unit 0!important;
  }
  p, ol {
    line-height: $text-xl;
  }
  p + * {
    margin-top: $unit * 2;
  }
  br {
    line-height: $text-xl;
  }
  ul, ol {
    margin: $unit 0 $unit $unit*5;
  }
  ol {
      list-style-type: decimal;
  }
  a {
    color: initial;
  }
  code {
    background: white;
    padding: 1px 2px;
    vertical-align: 1px;
  }
  strong { 
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  div.highlight {
    margin: 0;
    background:white;
  }
}

footer {
  margin-top: $unit*2;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";