
//
// VARIABLES
//

// colors 
$primary-bg: #006dd9;
$primary-text: #fff;
$secondary-bg: #00387b;
$secondary-text: #fff;
$default-bg: #fcfcfc;
$default-text: #333;
$dark-bg: #e8e8e8;

// fonts
$font-stack: 'Montserrat', Arial, Helvetica, sans-serif;

// mixins
@mixin clearfix {
  zoom: 1;
  overflow: hidden;
}

@mixin transition($transition) {
  -webkit-transition: unquote($transition);
  transition: unquote($transition); 
}

@mixin centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}