
//
// VARIABLES
//

// unit
$unit: 8px;

// colors 
$bg-dark: #252733;
$text-dark: #888;
$bg-dark-highlight: #191b24;
$text-dark-highlight: #fff;
$bg-light: #393e5a;
$text-light: #fff;
$bg-white: #eee;
$text-white: #333;


// fonts
$font-stack: 'Montserrat', Arial, Helvetica, sans-serif;
$font-size: 2 * $unit;
$text-xs: $font-size * 0.6;
$text-sm: $font-size * 0.8;
$text-md: $font-size;
$text-lg: $font-size * 1.2;
$text-xl: $font-size * 1.4;


// breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}