
//
// VARIABLES
//

// Colors
$bg-dark: #222222;
$bg-light: #252733;
$bg-white: #eeeeee;

// Font stacks
$montserrat: 'Montserrat', Arial, Helvetica, sans-serif;

// Unit
$unit: 8px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}