<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.author }}" />
    {% if page.blurb %}<meta name="description" content="{{ page.blurb }}" />{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ',' }}" /><{% endif %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen and (min-width: 641px)" />
    <link rel="stylesheet" type="text/css" href="/mobile.css" media="screen and (max-width: 640px)" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <nav>
      <a class="nav-logo" href="/">
        <img src="/images/logo.png " />
        <div>
          <div>Foursails</div>
          <div>Technology Group</div>
        </div>
      </a>
      <a class="nav-link {% if page.url == '/portfolio/' %}is-selected{% endif %}" href="/portfolio/">Portfolio</a>
      <a class="nav-link {% if page.url == '/blog/' %}is-selected{% endif %}" href="/blog/">Blog</a>
      <a class="nav-link {% if page.url == '/team/' %}is-selected{% endif %}" href="/team/">Team</a>
      <a class="nav-link {% if page.url == '/consulting/' %}is-selected{% endif %}" href="/consulting/">Consulting</a>
    </nav>

    <header>
      <span>{{ page.title }}</span>
    </header>
    
    <main>
      {{ content }}
    </main>

    {% include analytics.html %}

    <script>
      var el = document.querySelector('.nav-logo'); 
      el.addEventListener('click', function(ev) {
        if (el.parentElement.classList.contains('is-expanded')) {
          el.parentElement.classList.remove('is-expanded');
        } else {
          el.parentElement.classList.add('is-expanded');
        }
        if (screen.width < 640) {
          ev.preventDefault();
          return false;
        }
      });
    </script>
    
  </body>
</html>
