<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    {% include head.html %}

    {% for href in page.css %}
      <link rel="stylesheet" href="/{{ href }}" type="text/css" />
    {% endfor %}

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    {% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}

    {% if page.blurb %}
      <meta name="description" content="{{ page.blurb }}" />
      <meta property="og:description" content="{{ page.blurb }}" />
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.url }}{{ site.logo }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
    {% include analytics.html %}
    {% include shiv.html %}
  </body>
</html>