---
layout: default
---
<main class="posts page">
  {% for post in site.posts %}
    {% if post.category == page.category or post.tags contains page.tag or (page.category == nil and page.tag == nil) %}
      <div class="post">  
        <a href="{{ post.url }}">
          
          <!-- thumbnail -->
          {% if post.thumb %}
          <img class="post-thumb" src="/images/{{ post.thumb }}" />
          {% endif %}
          
          <!-- title -->
          <h1>{{ post.title }}</h1>
          
          <!-- blurb -->
          <div class="body">{{ post.blurb }}</div>
        
          <div class="overlay"></div>
        </a>
      </div>  
    {% endif %}
  {% endfor %}
</main>
{% include masonry.html grid=".posts" item=".post" %}

<footer class="row">
  <div class="col-1-2">
    <div class="title">Foursails Technology Group</div>
    <div class="subtitle">Working Hard Since 2014</div>
  </div>
  <dl class="col-1-2">
    <dt>Address</dt>
    <dd>333 Las Olas Way, Fort Lauderdale, FL 33301</dd>
    <dt>Email</dt>
    <dd><a href="mailto:davismj@foursails.co">davismj@foursails.co</a></dd>
    <dt>Phone</dt>
    <dd><a href="tel:8503295553">(850) 329 5553</a></dd>
  </dl>
</footer>