---
layout: default
---
{% include masonry.html grid=".posts" item=".post" %}
<div class="posts">
  {% for post in site.posts %}
    {% if post.category == page.category or post.tags contains page.tag or (page.category == nil and page.tag == nil) %}
      <div class="post">  
        <a href="{{ post.url }}">
          
          <!-- thumbnail -->
          {% if post.thumb %}
          <img class="post-thumb" src="/images/{{ post.thumb }}" />
          {% endif %}
          
          <!-- title -->
          <h1>{{ post.title }}</h1>
          
          <!-- blurb -->
          <div class="body">{{ post.blurb }}</div>
        
          <div class="overlay"></div>
        </a>
      </div>  
    {% endif %}
  {% endfor %}
</div>